.main-menu{
  list-style: none;
  padding-left: 0;
}

.main-menu li{
  padding: 10px;
  width: 8em;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.home-icon{
  width:100%;
}

.btn-light {
  width: 8em;
}
